@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
 * {
    font-family: 'Manrope', sans-serif;
}
.detailPage{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
    gap: 3%;
}
.detail{
    width: 100%;
    height: 50%;
    display: grid;
    justify-content: right;
    align-items: right;
    line-height: 1.1;
    font-size: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imageCover {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    
    
}
h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    font-family: cursive;
    color:aliceblue;
    margin-left: 3%;
}
p{
    font-size: 2.0rem;
    font-weight: bold;
    color:rgb(155, 185, 212);
}
b{
    font-size: 2.0rem;
    font-weight: bold;
    color: burlywood;
}
@media screen and (max-width: 1180px) {
    .detailPage {
      display : grid;
    }
    .image-cover {
      margin-top: 10%;
      width: auto;
      height: auto;
      object-fit: contain;
      align-items: center;
      padding-left: 50%;
    }
    .detail{
        width: 100%;
        height: 100%;
        padding-left: 10%;
        display: grid;
        justify-content: center;
        align-items: center;
        line-height: 2;
        font-size: 1rem;
        margin-left: -2%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }
@media screen and (max-width: 992px) {
  .detailPage {
      /* background-color: red; */
      display : grid;
    }
    .image-cover {
      margin-top: 10%;
      width: auto;
      height: auto;
      object-fit: contain;
      align-items: center;
    }
    .detail{
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        line-height: 2;
        font-size: 1rem;
        margin-left: -2%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }
@media screen and (max-width: 667px) {
    .detailPage {
      display : grid; 
      width: 100%;
     height: 100%;
     margin: 0 auto;
     margin-bottom: 5%;
    }
    .imageCover {
      margin-top: 10%;
      margin-left: 5rem;
      width: 100%;
      height: 100%;
      object-fit: contain;
      align-items: center;
    }
    .detail{
        width: 80%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        padding: 10%;
        line-height: 1.1;
        font-size: 0.3rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }