.card {
  margin-right: 40px;
  margin-bottom: 20px;
  width: 200px;
  cursor: pointer;
}

.cardTitle {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #fafafa;
}
.cardImg {
  width: 90%;
  height: 300px;
  object-fit: cover;
  display: block;
}
.cardDate {
  text-align: center;
  margin-top: 3px;
  font-size: 1.0rem;
}

@media screen and (max-width: 992px) {
  .card {
    width: 250px;
  }
  .cardImg {
    width: 100%;
    height: 400px;
  }
}
