.root {
  margin-top: 15px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 400px;
  margin-right: 30px;
  padding: 6px;
}

.search {
  padding: 0 10px;
}
